


body {
  font-family: 'Montserrat', sans-serif;
  color: #000;
  text-align: center;
}

h1, h2, h3 {
  font-family: "Montserrat";
}

p {
  color:#8f8f8f;
}

.container-fluid {
  padding: 7% 15%;
}

#title .container-fluid {
  padding: 3% 15%;
  text-align: left;
}

/* sections */
.colored-section {
  background-color: #FF4C68;
  color: #fff;
  padding: 2%;
}

.white-section {
  background-color: #fff;
}


/* Headings */
.big-heading {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}
/* #title {
  padding: 0 3rem 1rem 3rem;
  text-align: left;
} */

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";

}


/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}


/* Title image */
.title-image {
   width: 20%;
   transform: rotate(25deg);
   position: absolute;
   right: 25%;
}

#features {
  color: #000;
  background-color: #fff;
  position: relative;
  z-index: 1;

}

.feature-box {
  padding: 5%;
}

.feature-title {
  font-weight: bold;
  font-size: 1.5rem;
}

.icon: hover {
  color: #FF4C68;
}

.icon {
  color: #efB172;
  margin-bottom: 1rem;
}

/* testimonials */
#testimonials {
  background-color: #ef8172;

}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* .carousel-item {
  padding: 7% 15%;
} */

.carousel-button {
  background-color: #ef8172;
  border-color: transparent;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding:3% 2%;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}


.cta-heading {
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
}



.footer-image {
  margin: 25px;
}

.footer-image {
  font-size: 40px;
}
